# 开发环境配置
ENV = 'development'

# 直接使用后端地址，不通过代理
VUE_APP_BASE_API = ''

# 默认后端地址
VUE_APP_DEFAULT_TARGET = 'http://localhost:9080'
# VUE_APP_DEFAULT_TARGET = 'https://maximo.com'
# 路由懒加载
VUE_CLI_BABEL_TRANSPILE_MODULES = true